
<table style="width:100%">
 <tbody>
  <tr>
    <td><span style="color: #808080;">AUD</span></td>
    <td><span style="color: #808080;">BGN</span></td>
    <td><span style="color: #808080;">BRL</span></td>
    <td><span style="color: #808080;">CAD</span></td>
    <td><span style="color: #808080;">CHF</span></td>
    <td><span style="color: #808080;">CNY</span></td>
    <td><span style="color: #808080;">CZK</span></td>
    <td><span style="color: #808080;">DKK</span></td>
    </tr>
    <tr>
    <td><span style="color: #808080;">EUR</span></td>
    <td><span style="color: #808080;">GBP</span></td>
    <td><span style="color: #808080;">HKD</span></td>
    <td><span style="color: #808080;">HRK</span></td>
    <td><span style="color: #808080;">HUF</span></td>
    <td><span style="color: #808080;">IDR</span></td>
    <td><span style="color: #808080;">ILS</span></td>
    <td><span style="color: #808080;">INR</span></td>
    </tr>
    <tr>
    <td><span style="color: #808080;">JPY</span></td>
    <td><span style="color: #808080;">KRW</span></td>
    <td><span style="color: #808080;">MXN</span></td>
    <td><span style="color: #808080;">MYR</span></td>
    <td><span style="color: #808080;">NOK</span></td>
    <td><span style="color: #808080;">NZD</span></td>
    <td><span style="color: #808080;">PHP</span></td>
    <td><span style="color: #808080;">PLN</span></td>
    </tr>
    <tr>
    <td><span style="color: #808080;">RON</span></td>
    <td><span style="color: #808080;">RUB</span></td>
    <td><span style="color: #808080;">SEK</span></td>
    <td><span style="color: #808080;">SGD</span></td>
    <td><span style="color: #808080;">THB</span></td>
    <td><span style="color: #808080;">TRY</span></td>
    <td><span style="color: #808080;">USD</span></td>
    <td><span style="color: #808080;">ZAR</span></td>
    </tr>
  </tbody>
</table>
